@import url(http://fonts.googleapis.com/css?family=PlayfairDisplay);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("abstract.jpg");
  background-size: 100%;
  background-position: top center;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-size: 15px;
  line-height: 32px;
  color: #333333;
  font-family: helvetica, sans-serif;
}

.container {
  
  max-width: 50%;
  margin: 0%;
  padding-left:10%;
}

h1 {
  font-size: 160px;
  text-align: center;
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20%;
  margin-top: 0%;
}


img {
  width: 100%;
}

.wrapper {
  background: #ffffff;
  width: 100%;
  min-height: 100%;
  margin: 0 0 0 0;
  position: relative;
}

.content-wrapper {
  width: 80%;
  margin: auto;
  padding: 5%;
}

.content-wrapper .image-center {
  padding: 3 %;
  width: 169%;
  position: relative;
  margin-left: -35%;
  box-shadow: 10%;
}
@media (max-width: 640px) {
  .content-wrapper .image-center {
    width: 127%;
    margin-left: -13%;
  }
}

.nav-bar2 {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  left: 44%;
  position: fixed;
  bottom:-10px;
  z-index: 1;


}

.nav-bar2 ul{
  padding:0px;
  padding-left: 10px;
  padding-right: 10px;

    background-color: white;
    list-style-type: none;

}

.nav-bar2 li a {
  text-decoration: none;
  text-align: center;
  font-size:18px;
  color: #000;
}
.post {
  margin: 0 auto;
  max-width: 40em;

}
  
.post-marker::before {
  content: "\00a0"; /* A non-breaking space glues a marker to its target word. */
  
}
  
.post-marker a {
  font-weight: lighter;
  letter-spacing: 1px;
  text-decoration: none;
}
    
.post-marker a::before {
  content: "[";  
}
  
.post-marker a::after {
  content: "]";  
}
    
.post-subject {
  position: relative;  
}
    
.post-sidenote {
  box-sizing: border-box;
  color: #999;
  display: none;
  font-style: italic;
  left: 100%;
  padding-left: 1.5rem;
  position: absolute;
  top: 0;
  width: 70%;
}
  
.post-footnotes {
  border-top: 1px solid #999;
  color: #999;
  padding-top: 1.5rem;
}

li {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding-left:0;
}

ol ul li{
  margin-bottom:0;
}

@media screen and (min-width: 50em) {
  .post.has-sidenotes .post-marker {
    display: none;
  }
      
  .post.has-sidenotes .post-sidenote {
    display: block;
  }
  
  .post.has-sidenotes .post-footnotes {  
    display: none;
  }
}
