@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PlayfairDisplay);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("abstract.jpg");
  background-size: 100%;
  background-position: top center;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  font-family: 'Poppins', sans-serif;
}

.appendix {

  max-width: 70%;
  padding-left:10%;
}

.appendix .content {
  width:15%;
}


.container {
  
  max-width: 60%;
  padding-left:10%;
}

h1 {
  font-size: 170px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}


a {
  color: #666;
  text-decoration: underline;
}
a:hover {
  color: #000;
  background-color: yellow;
}

article {
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
}

.footnote-ref {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0, "sups" 0;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0, "sups" 0;
}
.footnote-ref a {
  text-decoration: none;
}

.sidenote {
  display: none;
  padding-bottom: 0.6em;
  font-family: "Helvetica", sans-serif;
  font-size: 0.65rem;
  line-height: 1.6;
  color: #666;
}
.sidenote .footnote-backref {
  display: none;
}
.sidenote .sidenote-title:before {
  content: "→";
  margin-right: 0.6em;
  font-weight: bold;
}
.sidenote .sidenote-number {
  margin-right: 0.6em;
  display: inline-block;
  float: left;
  font-weight: bold;
}
.sidenote p {
  margin-top: 0;
  margin-bottom: 0;
}
.sidenote p + p {
  margin-top: 0.3em;
}

header, .content {
  max-width: 32em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.content.has-sidenotes a:hover + .sidenote .sidenote-title:before,
.content.has-sidenotes a:hover + .sidenote .sidenote-number, .content.has-sidenotes .footnote-ref:hover + .sidenote .sidenote-title:before,
.content.has-sidenotes .footnote-ref:hover + .sidenote .sidenote-number {
  background-color: yellow;
}

@media screen and (min-width: 45em) {
  .content.has-sidenotes {
    max-width: 60em;
    *zoom: 1;
  }
  .content.has-sidenotes:before, .content.has-sidenotes:after {
    display: table;
    content: "";
  }
  .content.has-sidenotes:after {
    clear: both;
  }
  .content.has-sidenotes > *:not(.sidenote) {
    width: 70%;
    box-sizing: border-box;
  }
  .content.has-sidenotes .sidenote {
    display: block;
    float: right;
    clear: right;
    margin-right: -42.85714%;
    width: 37.85714%;
    vertical-align: baseline;
    position: relative;
  }
  .content.has-sidenotes .footnotes,
  .content.has-sidenotes .footnotes-sep {
    display: none;
  }
}



img {
  width: 100%;
}

.wrapper {
  background: #ffffff;
  width: 100%;
  min-height: 100%;
  margin: 0 0 0 0;
  position: relative;
}

.content-wrapper {
  width: 70%;
  margin: auto;
  padding: 5%;
}

.content-wrapper .image-center {
  padding: 53 %;
  width: 169%;
  position: relative;
  margin-left: 0%;
  box-shadow: 10%;
}
@media (max-width: 640px) {
  .content-wrapper .image-center {
    width: 127%;
    margin-left: -13%;
  }
}

.nav-bar2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  left: 44%;
  position: fixed;
  bottom:-10px;
  z-index: 1;


}

.nav-bar2 ul{
  padding:0px;
  padding-left: 10px;
  padding-right: 10px;

    background-color: white;
    list-style-type: none;

}

.nav-bar2 li a {
  text-decoration: none;
  text-align: center;
  font-size:18px;
  color: #000;
}
