
@page {
    size: A4;
    margin-left: 30mm;
    margin-bottom:30mm;
    margin-top:10mm;
    marks: crop;
}


p{
  font-family: Georgia;
  line-height: 13px;
  font-size:12px;
  position: relative;
  color:black;
}


.footnote-item{
  font-family: 'Merriweather', serif;
  color:black;

}




.nav-bar2{display: none;}
.nav-bar{display: none;}








