
a{

  text-decoration: none;
}

body{  
  color:#000; 
  background-color:#fff;
 }

.container {
  
  max-width: 70%;
  margin: 0 auto;
  padding-left:10%;
}



h2 {
  /*main title for chapter*/
  font-size: 80px;
  text-align: left;
  line-height: 85px;
  font-family: "sans-serif";
  padding-top: 105px;
  width: 80%;


}
h1 {
  /*main title for chapter*/
  font-size: 50px;
  text-align: left;
  line-height: 40px;
  font-family: "sans-serif";
  padding-top: 15px;


}


h4 {
    /*2nd title*/
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #000;
  
}


section.module p {
    /*text*/
  text-indent: 10px;
  margin-bottom: 10px;
  color: #000;
  width: 80%;
  font-family: "Courier New", Courier, monospace;
}


/* nav bar */

.nav-bar {
  position: fixed;
  top:50px;
  padding-left: 25px;
  width: 180px;
  height: 0px;
  background-color: #000;
  background-color: white;
}

.nav-bar ul{

    float: left;
    width: 100%;
    padding-top: 135px;
    padding-left: 15px;
    margin: 0px;
    list-style-type: none;
    float: left;
    padding-bottom:30px;
}



.nav-bar li a {
  /*text-decoration: none;*/
	font-size:15px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif; 
}

